<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<table>
		<tr>
			<td>@Html.ActionLink("Home", "Index", "Home")</td>
			<td>@Html.ActionLink("New Spelling", "Index", "Spelling")</td>
			<td>@Html.ActionLink("All Spellings", "All", "Spelling")</td>
			<td>@Html.ActionLink("New Nickname", "Index", "NickName")</td>
			<td>@Html.ActionLink("All Nicknames", "All", "NickName")</td>
		</tr>
	</table>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
