<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Names</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>
        @RenderBody()
        <footer>
			<hr />
			This is a demo project for SQL Server, WCF, and ASP.Net MVC. 
			<br/>
			Source is available on <a href='https://github.com/WithoutHaste/Names'>GitHub</a>.
			<br/>
			Contact: <a href="mailto:wohaste@gmail.com">wohaste@gmail.com</a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
