@using Names.Read.MvcSite.Models.Home
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}

@helper Spacing(int depth)
{
	for(int i = 0; i < depth; i++)
	{
		@:&nbsp;&nbsp;
	}
}

<div class="grid-container">
	<div class="title-bar">
		First Names
	</div>

	<div class="category-menu">
		@using(Html.BeginForm("Index", "Home", FormMethod.Get))
		{
			<button type="submit">Search</button><br/>
			foreach(OriginModel origin in Model.Origins)
			{
				string checkedAttribute = origin.Checked ? "checked" : "";
				<span><input type="radio" name="origin" value="@origin.Value" @checkedAttribute /> @Spacing(origin.Depth)@origin.Text</span><br />
			}
		}
	</div>

	<div class="search-results">
		<span class="">@Model.NameCountMessage</span><br /><br />
		@foreach(NameModel name in Model.Names)
		{
			<span class="display-search-result"><span class="display-name">@name.Name</span><span class="display-origin">@name.OriginText</span></span><br />
		}
	</div>
</div>


